<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cctv.device">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.cctv.UHFApplication"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="HardcodedDebugMode">
        <activity android:name="com.cctv.activity.CarLoadActivity"></activity>
        <activity android:name="com.cctv.activity.PreSetTask" />
        <activity android:name=".UnLoding" />
        <activity android:name=".MonitorActivity" />
        <activity android:name=".MainActivityList" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".LodingList" />
        <activity
            android:name=".MainActivity"
            android:appComponentFactory=""
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>